body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.invoice-container {
    width: 210mm; /* A4 size width */
    height: 297mm; /* A4 size height */
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004b87;
    color: white;
    padding: 10px 20px;
}

.invoice-title {
    font-size: 24px;
    font-weight: bold;
}

.invoice-number {
    font-size: 18px;
}

.invoice-details, .receiver-details {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    margin: 10px 0;
}

.company-details, .receiver-info {
    width: 60%;
    padding: 10px;
    
    border-radius: 10px;
   
}

.receiver-info{
    background-color: #e0e2e4;
}

.company-logo {
    width: 30%;
    text-align: center;
    padding: 10px;
   
    border-radius: 4px;
}

.company-logo img {
    max-width: 100%;
    height: auto;
}

.order-info {
    width: 30%;
    text-align: left;
    padding: 10px;
    background-color: #e0e2e4;
    border-radius: 10px;
}

hr {
    border: 1px solid #cccccc;
    margin: 20px 0;
}

.item-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.item-table th, .item-table td {
    border: 1px solid #cccccc;
    padding: 8px;
    text-align: center;
    font-size: 12px;
}

.signature-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: 10px 0;
}

.sender-signature, .receiver-signature {
    width: 45%;
    text-align: center;
    padding: 10px;
    
    border-radius: 4px;
}

.signature-section hr{
    margin-top: 80px;
    margin-bottom: 20px;
}